<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjxu97.costume.mapper.location.CityMapper">
    <resultMap id="BaseResultMap" type="com.zjxu97.costume.model.entity.location.City">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="province_id" property="provinceId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, is_deleted, create_at, update_at, city_name, province_id
  </sql>

</mapper>