<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjxu97.costume.mapper.sale.SaleRecordMapper">
    <resultMap id="BaseResultMap" type="com.zjxu97.costume.model.entity.sale.SaleRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, is_deleted, create_at, update_at, store_id, item_id
  </sql>
</mapper>