<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjxu97.costume.mapper.SaleRecordMapper">

    <sql id="control">
        <if test="control.controlLocation != @com.zjxu97.costume.commons.CostumeConstants@EMPTY">
            AND store_id in (select id from store where district_id in(
            select id from district where id LIKE CONCAT(#{control.controlLocation} , '%')))
        </if>
        <if test="control.controlItemType != @com.zjxu97.costume.commons.CostumeConstants@EMPTY">
            AND item_detail_id in (select item_detail.id from item_detail where item_detail.item_id in(
            select item.id from item where item.item_type_id = #{control.controlItemType}))
        </if>
        <if test="control.controlItem != @com.zjxu97.costume.commons.CostumeConstants@EMPTY">
            AND item_detail_id in (select item_detail.id from item_detail
            where item_detail.item_id = #{control.controlItem})
        </if>
        <if test="control.controlSize != @com.zjxu97.costume.commons.CostumeConstants@EMPTY">
            AND item_detail_id in (select item_detail.id from item_detail
            where item_detail.item_size_id = #{control.controlSize})
        </if>
    </sql>

    <resultMap id="DataElementMap" type="com.zjxu97.costume.commons.DataElement">
        <result column="key" property="key" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getDateCount" parameterType="com.zjxu97.costume.commons.Control" resultMap="DataElementMap">
        SELECT
        <if test="dateType == @com.zjxu97.costume.commons.DateTypeConstants@YEAR">
            DATE_FORMAT(create_at, '%Y') `key`,
        </if>
        <if test="dateType == @com.zjxu97.costume.commons.DateTypeConstants@QUARTER">
            CONCAT(DATE_FORMAT(create_at, '%Y-%Q'), FLOOR((DATE_FORMAT(create_at, '%m') + 2) / 3)) `key`,
        </if>
        <if test="dateType == @com.zjxu97.costume.commons.DateTypeConstants@MONTH">
            DATE_FORMAT(create_at, '%Y-%m') `key`,
        </if>
        <if test="dateType == @com.zjxu97.costume.commons.DateTypeConstants@WEEK">
            DATE_FORMAT(create_at, '%Y-%u') `key`,
        </if>
        <if test="dateType == @com.zjxu97.costume.commons.DateTypeConstants@DAY">
            DATE_FORMAT(create_at, '%Y-%j') `key`,
        </if>
        COUNT(id) `value`
        FROM sale_record
        WHERE create_at BETWEEN #{from} AND #{to}
        <include refid="control"/>
        GROUP BY `key`;
    </select>

    <select id="getDateAmount" parameterType="com.zjxu97.costume.commons.Control" resultMap="DataElementMap">
        SELECT
        <if test="dateType=com.zjxu97.costume.commons.DateTypeConstants.YEAR">
            DATE_FORMAT(create_at, '%Y') `key`,
        </if>
        <if test="dateType=com.zjxu97.costume.commons.DateTypeConstants.QUARTER">
            CONCAT(DATE_FORMAT(create_at, '%Y-%Q'), FLOOR((DATE_FORMAT(create_at, '%m') + 2) / 3)) `key`,
        </if>
        <if test="dateType=com.zjxu97.costume.commons.DateTypeConstants.MONTH">
            DATE_FORMAT(create_at, '%Y-%m') `key`,
        </if>
        <if test="dateType=com.zjxu97.costume.commons.DateTypeConstants.WEEK">
            DATE_FORMAT(create_at, '%Y-%u') `key`,
        </if>
        <if test="dateType=com.zjxu97.costume.commons.DateTypeConstants.DAY">
            DATE_FORMAT(create_at, '%Y-%j') `key`,
        </if>
        COUNT(item_detail.price) `value`
        FROM sale_record LEFT JOIN item_detail ON sale_record.item_detail_id = item_detail.id
        WHERE create_at BETWEEN #{from} AND #{to}
        <include refid="control"/>
        GROUP BY `key`;
    </select>
</mapper>